body{
    margin: 0;
    padding: 0;
    background: rgba(245, 245, 245, 0.91);

}
#v-app{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 80px auto;
    grid-template-areas:
        "heat"
        "addItem"
        "listTasks";
    width: 320px;
}
.head{
    grid-area: heat;
    text-align: center;
    vertical-align: bottom;
    font-size: 50px;
    font-family: 'Josefin Slab', serif;
    border-bottom: 1px solid rgba(47, 47, 47, 0.81);

}
.addItem{
    grid-area: addItem;
    background: rgba(245, 245, 245, 0.91);
    border: 1px solid rgba(245, 245, 245, 0.91);
    border-bottom: 1px solid rgba(47, 47, 47, 0.81);
    text-align: center;
    font-size: 25px;
    font-family: 'Poiret One', cursive;
}
.listTasks{
    grid-area: listTasks;
    background: rgba(255, 255, 255, 0.91);
    width: 320px;
    padding: 0;
    margin-left: 0px;
}
.listItem{
    display: grid;
    grid-template-columns: 50px 220px 50px;
    grid-template-rows: auto;
    grid-template-areas: "fa-1x taskDescription deleteTask";
    list-style: none;
    width: 320px;
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    font-family: 'Caveat', cursive;
    border-bottom: 1px solid rgba(47, 47, 47, 0.81);
}
.fa-1x{
    grid-area: fa-1x;
    transition: opacity .5s ease;
}
.taskDescription{
    grid-area: taskDescription;
    text-align: center;
}
.deleteTask{
    grid-area: deleteTask;
    background: rgba(255, 255, 255, 0.91);
    border: 1px solid rgba(255, 255, 255, 0.91);
}
.compliteTask{
    text-decoration: line-through;
    color: gray;
}
@media screen and (min-width:321px) {
    .wrapper{
        display: flex;
        justify-content: center;
        justify-items: center;
      }
}
.delete-enter-active {
  animation: bounce-in .5s;
}
.delete-leave-active {
  animation: bounce-in .5s reverse;
}
